.music-wheel {
    position:relative;
    height:300vh;
    overflow:hidden;
    box-shadow:inset 0 0 0 1px blue;

    .music-wheel-sticky {
        position:relative;
        /*position:sticky;*/
        /*top:200px;*/
        /*left:0;*/
        height:100vh;
        overflow:hidden;
        box-shadow:inset 0 0 0 1px cyan;
    }

    .wheel {
        box-shadow:inset 0 0 0 2px red;
        aspect-ratio:1;
        width:300px;
        position:absolute; left:0; top:50%;
        border-radius:50%;
        transform:translate(-50%, -50%);

        /* grid for test */
        &:before, &:after {
            content:"";
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
            width:110%;
            height:1px;
            background:blue;
            border-radius:50%;
        }

        &:after {
            transform:translate(-50%, -50%) rotate(90deg);
        }

        .petal {
            --x:0;
            --y:0;
            --rotate:0deg;

            position:absolute;
            top:var(--y);
            left:var(--x);

            margin:0;
            transform:translate(-50%, -50%) rotate(var(--rotate));
            transform-origin:left center;

            opacity:.5;

            &.active {
                opacity:1;
            }

            &:before {
                content:"";
                position:absolute;
                top:40%;
                left:0;
                width:20px;
                aspect-ratio:1;
                border-radius:50%;
                background:red;

                transform:translate(-50%, -50%) scale(0);
                transition:all .3s ease;
            }

            &.active:before {
                transform:translate(-50%, -50%) scale(1);
            }

            span {
                position:absolute;
                top:50%;
                left:0;

                font-size:2vw;
                white-space:nowrap;
                /*padding-left:50px;*/
                /*//background: red;*/
                transform:translate(0, -50%) rotate(-90deg);
                transform-origin:left center;
                display:block;
            }
        }
    }
}