.anime-text .word {
    display: inline-block;
    position: relative;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
    padding: 0.1rem 0.2rem;
    border-radius: 2rem;
    will-change: background-color, opacity;
}

.anime-text .word span {
    position: relative;
}

.anime-text p {
    visibility: hidden;
}

.anime-text .word span.keyword {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    padding: 0.1rem 0;
    color: #141414;
}

.anime-text .word span.keyword::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 1rem);
    height: calc(100% + 2rem);
    background-color: #fff;
    border-radius: 2rem;
    z-index: -1;
}

.anime-text .word,
.anime-text .word span {
    opacity: 0;
}