@import "tailwindcss";
@import "nextra-theme-docs/style.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *)); /* or nextra-theme-blog/style.css */

@theme inline {
    --radius-sm:calc(var(--radius) - 4px);
    --radius-md:calc(var(--radius) - 2px);
    --radius-lg:var(--radius);
    --radius-xl:calc(var(--radius) + 4px);

    --color-background:var(--background);
    --color-foreground:var(--foreground);
    --color-card:var(--card);
    --color-card-foreground:var(--card-foreground);
    --color-popover:var(--popover);
    --color-popover-foreground:var(--popover-foreground);
    --color-primary:var(--primary);
    --color-primary-foreground:var(--primary-foreground);
    --color-secondary:var(--secondary);
    --color-secondary-foreground:var(--secondary-foreground);
    --color-muted:var(--muted);
    --color-muted-foreground:var(--muted-foreground);
    --color-accent:var(--accent);
    --color-accent-foreground:var(--accent-foreground);
    --color-destructive:var(--destructive);
    --color-border:var(--border);
    --color-input:var(--input);
    --color-ring:var(--ring);
    --color-chart-1:var(--chart-1);
    --color-chart-2:var(--chart-2);
    --color-chart-3:var(--chart-3);
    --color-chart-4:var(--chart-4);
    --color-chart-5:var(--chart-5);
    --color-sidebar:var(--sidebar);
    --color-sidebar-foreground:var(--sidebar-foreground);
    --color-sidebar-primary:var(--sidebar-primary);
    --color-sidebar-primary-foreground:var(--sidebar-primary-foreground);
    --color-sidebar-accent:var(--sidebar-accent);
    --color-sidebar-accent-foreground:var(--sidebar-accent-foreground);
    --color-sidebar-border:var(--sidebar-border);
    --color-sidebar-ring:var(--sidebar-ring);
}

:root {
    --radius:0.625rem;

    --background:#fff;
    --foreground:#252525;

    --card:#fff;
    --card-foreground:#252525;

    --popover:#fff;
    --popover-foreground:#252525;

    --primary:#333;
    --primary-foreground:#fbfbfb;

    --secondary:#f7f7f7;
    --secondary-foreground:#333;

    --muted:#f7f7f7;
    --muted-foreground:#8e8e8e;

    --accent:#f7f7f7;
    --accent-foreground:#333;

    --destructive:#e36241;

    --border:#dfdfdf;
    --input:#ebebeb;
    --ring:#b4b4b4;

    --chart-1:#e8a84c;
    --chart-2:#70a2e8;
    --chart-3:#516ee3;
    --chart-4:#f3c946;
    --chart-5:#efb73f;

    --sidebar:#fbfbfb;
    --sidebar-foreground:#252525;
    --sidebar-primary:#333;
    --sidebar-primary-foreground:#fbfbfb;
    --sidebar-accent:#f7f7f7;
    --sidebar-accent-foreground:#333;
    --sidebar-border:#ebebeb;
    --sidebar-ring:#b4b4b4;
}

.dark {
    --background:#252525;
    --foreground:#fbfbfb;

    --card:#333;
    --card-foreground:#fbfbfb;

    --popover:#333;
    --popover-foreground:#fbfbfb;

    --primary:#ebebeb;
    --primary-foreground:#333;

    --secondary:#444;
    --secondary-foreground:#fbfbfb;

    --muted:#444;
    --muted-foreground:#b4b4b4;

    --accent:#444;
    --accent-foreground:#fbfbfb;

    --destructive:#f06b58;

    --border:rgba(255, 255, 255, 0.1);
    --input:rgba(255, 255, 255, 0.15);
    --ring:#8e8e8e;

    --chart-1:#7a80f3;
    --chart-2:#90d4ab;
    --chart-3:#efb73f;
    --chart-4:#9f74f0;
    --chart-5:#e89e84;

    --sidebar:#333;
    --sidebar-foreground:#fbfbfb;
    --sidebar-primary:#7a80f3;
    --sidebar-primary-foreground:#fbfbfb;
    --sidebar-accent:#444;
    --sidebar-accent-foreground:#fbfbfb;
    --sidebar-border:rgba(255, 255, 255, 0.1);
    --sidebar-ring:#8e8e8e;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    .px-bg-pattern-transparent {
        --tile-color:rgba(68, 76, 247, 0.04);
        --bg-color:#fff;
        background-color:var(--bg-color);
        background-image:repeating-linear-gradient(
            45deg,
            var(--tile-color) 25%,
            transparent 25%,
            transparent 75%,
            var(--tile-color) 75%,
            var(--tile-color)
        ),
        repeating-linear-gradient(
            45deg,
            var(--tile-color) 25%,
            var(--bg-color) 25%,
            var(--bg-color) 75%,
            var(--tile-color) 75%,
            var(--tile-color)
        );
        background-position:0 0, 10px 10px;
        background-size:20px 20px;
    }

    .px-bg-diagonal {
        --tile-color:rgba(68, 76, 247, 0.3);
        --bg-color:#fff;
        background-color:var(--bg-color);

        opacity: 1;
        background-image: radial-gradient(var(--tile-color) 0.75px, var(--bg-color) 0.75px);
        background-size: 15px 15px;
    }

    .px-border {
        @apply border border-dashed border-border rounded-md;
    }

    .px-bg-blur {
        @apply bg-background/30 backdrop-blur supports-[backdrop-filter]:bg-background/50;
    }
}

.nextra-code pre {
    @apply border border-dashed border-border rounded-md ring-0;
}