body {
  background: #121212;
  color: #F1F1F1;
}

.mwg_effect026 {
  --gap: 5vw;            
  --half-gap: calc(var(--gap) / 2); 
  height: 500px;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

body:has([data-slot="dialog-trigger"][data-state="open"]) .mwg_effect026 {
  height: 100%;
}

.mwg_effect026 .container1 {
  height: 100%;
}

.mwg_effect026 .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: max-content;
  will-change: transform;
}

.mwg_effect026 .content {
  pointer-events: none;
  display: grid;
  width: max-content;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--gap);
  padding: var(--half-gap); 
}

.mwg_effect026 .media {
  width: 15vw;
  aspect-ratio: 1;
  user-select: none;
}

.mwg_effect026 .media img,
.mwg_effect026 .media video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

@media (max-width: 900px) {
  .mwg_effect026 {
      --gap: 20vw;
      --half-gap: calc(var(--gap) / 2);
  }

  .mwg_effect026 .media {
      width: 50vw;
  }
}
